.card {
  background-color: #f10d0d;
  width: 100%;
  height: 25%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;

  &.flipped {
    transform: rotateY(180deg);
  }

  /* Efecto hover para más interacción visual */
  &:hover {
    transform: scale(1.1);
  }
}
