@import 'variables';

body {
    font-family: $font-stack;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: $secondary-color;
}

// Función
@function darken($color, $amount) {
    @return mix(black, $color, $amount);
}

header {
    background: $header-color;
    color: $titles-color;
    padding: 20px;
    text-align: center;
    background-color: darken($primary-color, 50%);
}

// Mixin 
@mixin box-style($color, $padding: 20px) {
    background-color: $color;
    padding: $padding;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin: 20px auto;
    padding: 10px;
    max-width: 800px;
    @include box-style($cv-background-color);
    height: 300vh;
}

// Extend 
%text-style {
    color: white;
    font-size: 1.2em;
}

p {
    @extend %text-style;
}

li {
    @extend %text-style;
}

.CV {
    height: 200vh;
    margin: 20px auto;
    padding: 10px;
    max-width: 800px;
    @include box-style($cv-background-color);

    .card {
        border: solid 10px #393732;
        width: 50%;
        float: left;
        box-sizing: border-box;
        height: 25%;
        background-color: $secondary-color;

        h2 {
            color: $titles-color;
            font-size: 1.5em;
        }
    }
}


@media screen and (max-width: 800px) {
    .CV {
        .card {
            width: 100%; 
            margin-bottom: 20px; 
        }
    }
}


ul {
    list-style-type: none;
    padding: 0;
}
